<div [@fadeAnimation]="'/catalogue'" class="flex flex-col">
    <div class="header-section">
        <div class="text">
            about us
        </div>
        <div class="sub-text">
            <a routerLink="/home">Home</a>
            <img src="assets/icons/chevron-right.svg" alt="" class="mx-1 h-5 icon">
            <span class="bold-font">About Us</span>
        </div>
    </div>
    <div class="w-full flex flex-col">
        <div class="w-full flex flex-wrap p-12">
            <div class="w-1/2 flex flex-col">
                <span class="text-primary text-sm">OUR STORY</span>
                <span class="glamore text-3xl">little about bright impex</span>
            </div>
            <div class="w-1/2">
                <p class="text-18 ml-5">Bright Impex, the largest manufacturer of ceramic and vitrified. Tiles in India, It has an annual
                    aggregate capacity. Of 93.10 mn. sq. meters, distributed across nine plants - Sikandrabad in Uttar
                    Pradesh, Gailpur & Malootana in Rajasthan, Srikalahasti in Andhra Pradesh, Balanagar.</p>
            </div>
        </div>
        <div class="w-full flex flex-wrap">
            <div class="w-1/2">
                <img src="assets/images/home/home-3.jpg" alt="" class="w-full h-full object-cover">
            </div>
            <div class="w-1/2">
              <div class="flex flex-col">
                <div>
                  <span class="w-151 fs-24 fw-500 ml-5 h-30 glamore">OUR MISSION</span>
                  <p class="text-18 mt-2 ml-5">In Telangana, three plants in Gujarat and one plant in Nepal. Equipped with cutting-edge technology, we strive to deliver quality products and services to our customers. Our team of experts work around the clock to ensure that the quality of our product is never compromised.</p>
                </div>
                <div>
                  <span class="w-151 fs-24 mt-2 display-block fw-500 ml-5 h-30 glamore">OUR VISION</span>
                  <p class="text-18 mt-2 ml-5">Bright Impex, the largest manufacturer of ceramic and vitrified. Tiles in India, It has an annual aggregate capacity. Of 93.10 mn. sq. meters, distributed across nine plants - Sikandrabad in Uttar Pradesh, Gailpur & Malootana in Rajasthan, Srikalahasti in Andhra Pradesh, Balanagar.</p>
                </div>
                <div>
                  <div>
                    <button mat-flat-button color="primary" class="primary-btn w-180 h-56 br-60 ml-5 mt-2">Contact Us</button>
                </div>
                </div>
              </div>
            </div>
        </div>
        <div class="h-390">
          <div class="bg-img flex flex-col mt-92 items-center justify-center text-white px-5 lg:px-28 lg:flex-row lg:justify-between"
              [style.background-image]=" 'url(' + tileBgImg + ')'">
              <div class="flex flex-col">
                  <span class="text-sm explore-text">EXPLORE OUR WIDE RANGE OF DEALERSHIPS</span>
                  <span class="glamore text-2xl pt-2 text-center lg:text-3xl lg:text-left">explore locations</span>
              </div>
              <div class="w-52">
                  <div class="flex flex-col items-center lg:items-end">
                      <div class="flex justify-end text-end text-sm explore-text pt-6 lg:text-xs lg:pt-0">
                          If you’d like to view our products live you can visit our stores here.
                      </div>
                      <button class="tile-btn">See Locations</button>
                  </div>
              </div>
          </div>
        </div>
        <!-- <div>
          <img src="assets/images/tile.jpg" alt="" class="w-full h-full object-cover mt-2 h-390 w-1600">
        </div> -->
      </div>
</div>
