.header-section {
  background-image: url('/assets/images/bg.png');
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  .text {
    font-size: 50px;
    font-family: "Glamore";
    line-height: 62.55px;
  }

  .sub-text {
    font-size: 18px;
    display: flex;
    align-items: center;
    line-height: 25.44px;
    margin-top: 10px;

    .bold-font {
      font-family: "GoogleSans-Medium";
    }
  }
}

.text-18 {
  font-size: 18px;
}

.ml-5 {
  margin-left: 5rem;
}

.w-151 {
  width: 151px;
}

.w-180 {
  width: 180px;
}

.h-30 {
  height: 30px;
}

.fs-24 {
  font-size: 24px;
}

.fw-500 {
  font-weight: 500;
}

// .mt-2 {
//   margin-top: 2rem;
// }

.display-block {
  display: block;
}

.h-56 {
  height: 56px;
}


.h-390 {
  height: 390px;
}

.bg-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tile-btn {
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: #FFFFFF !important;
  width: fit-content;
  color: #000000 !important;
  margin-top: 1rem;
}

.certificate-img {
  width: calc(20% - 5rem);
  height: 300px;

  img {
    height: calc(100% - 3rem);
  }
}



.download-catalogue-section {
  height: 300px;

  .bg-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .location-btn {
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: #FFFFFF;
    width: fit-content;
    color: #000000;
    margin-top: 1rem;
  }

  .explore-text {
    box-shadow: 0px 4px 20px 0px #00000014;
  }
}

.core-values {
  // width: 20%;
  padding: 0px 55px;

  img {
    width: calc(100% - 40px);
  }
}

.bg-container {
  display: flex;
  flex-direction: column;
  background-image: url('/assets/images/tile-2.jpg');
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.bg-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.74);
  z-index: 1;

}

.bg-container>* {
  position: relative;
  z-index: 2;
}

.primary-btn {
  font-size: 12px;
  font-family: "GoogleSans";
  box-shadow: 0px 4px 20px 0px #00000014;
  background-color: var(--primary-color) !important;
}

@media screen and (max-width: 1023px) {
  .download-catalogue-section {
    height: 450px;

    .location-btn {
      font-size: 0.875rem;
    }
  }

   .certificate-img {
    width: calc(20% - (-6rem));
    height: 300px;

    img {
      height: calc(100% - 3rem);
    }
  }

  .core-values {
    // width: 20%;
    padding: 0px 25px;

    img {
      width: calc(100% - 6px);
    }
  }

  .p-0-15 {
    padding: 0px 15px;
  }
}


