<div class="h-16 bg-white flex justify-between">
    <div class="logo w-60">
        <img src="assets/images/Bright-Impex-Logo-Full-1.png" alt="" class="h-full pl-6 pr-2 cursor-pointer" routerLink="/home">
    </div>
    <div class="navigation-menu">
        <a class="mx-3 cursor-pointer link-underline" routerLink="/home" routerLinkActive="active-link">Home</a>
        <a class="mx-3 cursor-pointer link-underline" routerLink="/catalogue"
            routerLinkActive="active-link">Products</a>
        <a class="mx-3 cursor-pointer link-underline" routerLink="/about-us" routerLinkActive="active-link">About Bright
            Impex</a>
        <a class="mx-3 cursor-pointer link-underline" routerLink="/contact-us" routerLinkActive="active-link">Contact
            Us</a>
    </div>
    <div class="w-60 flex justify-end items-center">
        <div class="pl-2 pr-8">
            <img src="assets/icons/call.svg" alt="" class="cursor-pointer">
        </div>
    </div>
</div>