.footer-section {
    background-color: #136A991A;
    padding: 80px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.copyright-text {
    font-size: 16px;
    line-height: 20.35px;
    padding-left: 2.5rem;
}

.contact-header {
    font-size: 20px;
    line-height: 25.44px;
    font-family: "GoogleSans-Medium";
}

.contact-info {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 30.35px;
    color: var(--primary-color);
    padding-top: 15px;
}

.devider {
    padding: 2rem 2.5rem;

    hr {
        background: var(--primary-color);
        height: 2px;
        opacity: 40%;
    }
}

.active-link {
    font-family: "GoogleSans-Medium";   
}

.first-logo {
    position: absolute;
    width: 773px;
    top: -300px;
    left: -420px;
    opacity: 2%;
}

.second-logo {
    position: absolute;
    width: 773px;
    top: -200px;
    right: -520px;
    opacity: 5%;
}

.-z-1 {
    z-index: -1;
}

