<div class="footer-section">
    <div class="w-full flex flex-col">
        <div class="w-full flex flex-wrap">
            <div class="lg:w-1/4 w-full px-12">
                <img src="assets/images/Bright-Impex-Logo-Full.png" alt="" class="cursor-pointer" routerLink="/home">
            </div>
            <div class="lg:w-1/4 w-full lg:px-4 pt-6 flex flex-wrap lg:flex-col lg:justify-between lg:pt-4">
                <div class="flex flex-col w-1/2 lg:w-full">
                    <span class="contact-header">Contact Info</span>
                    <div class="contact-info">
                        <span>{{phone}}</span>
                        <span>{{email}}</span>
                    </div>
                </div>
                <div class="flex flex-wrap w-1/2 pl-4 lg:w-full lg:pl-0">
                    <img src="assets/icons/facebook.svg" alt="" class="pr-1 social-icon" (click)="moveToSocial('fb')">
                    <img src="assets/icons/instagram.svg" alt="" class="px-1 social-icon" (click)="moveToSocial('in')">
                    <img src="assets/icons/youtube.svg" alt="" class="pl-1 social-icon" (click)="moveToSocial('yt')">
                </div>
            </div>
            <div class="lg:w-1/4 w-1/2 lg:px-4 pt-6 flex flex-col lg:pt-4">
                <span class="contact-header">Product Categories</span>
                <div class="contact-info">
                    @for (category of catalogueCatagories(); track $index) {
                    <a [routerLink]="'catalogue/' + category?._id" routerLinkActive="active-link">{{category?.name}}</a>
                    }
                </div>
            </div>
            <div class="lg:w-1/4 w-1/2 lg:px-4 pl-4 pt-6 flex flex-col lg:pt-4">
                <span class="contact-header">Quick Links</span>
                <div class="contact-info">
                    <a routerLink="/home" routerLinkActive="active-link">Home</a>
                    <a routerLink="/catalogue" routerLinkActive="active-link">Products</a>
                    <a routerLink="/about-us" routerLinkActive="active-link">About Us</a>
                    <a routerLink="/contact-us" routerLinkActive="active-link">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="w-full devider">
            <hr class="w-full">
        </div>
        <div class="copyright-text">
            {{ copyrightText }}
        </div>
        <div class="flex relative -z-1 bg-logo">
            <div class="first-logo">
                <img src="assets/images/logo-full.png" alt="" class="h-full w-full">
            </div>
            <div class="second-logo">
                <img src="assets/images/logo-full.png" alt="" class="h-full w-full">
            </div>
        </div>
    </div>
</div>