// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use '@angular/material' as mat;
@use './theme-colors.scss' as my-theme;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @include mat.theme((color: (theme-type: light,
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

@font-face {
  font-family: 'GoogleSans';
  src: url('assets/fonts/GoogleSans/GoogleSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoogleSans-Medium';
  src: url('assets/fonts/GoogleSans/GoogleSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoogleSans-Bold';
  src: url('assets/fonts/GoogleSans/GoogleSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glamore';
  src: url('assets/fonts/Glamore/Glamore.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "GoogleSans", Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary-color: #136A99;
  --secondary-color: #2591B5;

  --mdc-checkbox-state-layer-size: 20px;
}

;

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.mdc-checkbox__background {
  border-color: var(--primary-color) !important;
  border-radius: 6px !important;
  border-width: 1px !important;
  height: 20px !important;
  width: 20px !important;
}

.mat-mdc-checkbox-touch-target {
  height: 20px !important;
  width: 20px !important;
}

.mdc-checkbox {
  width: 20px !important;
  height: 20px !important;
  flex: 0 0 20px !important;
}