// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use "@angular/material" as mat;
@use "./theme-colors.scss" as my-theme;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @include mat.theme((color: (theme-type: light,
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

@font-face {
  font-family: "GoogleSans";
  src: url("assets/fonts/GoogleSans/GoogleSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GoogleSans-Medium";
  src: url("assets/fonts/GoogleSans/GoogleSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GoogleSans-Bold";
  src: url("assets/fonts/GoogleSans/GoogleSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Glamore";
  src: url("assets/fonts/Glamore/Glamore.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "GoogleSans", Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary-color: #136a99;
  --secondary-color: #2591b5;

  --mdc-checkbox-state-layer-size: 20px;
}

.glamore {
  font-family: "Glamore";
}

.sans {
  font-family: "GoogleSans";
}

.sans-medium {
  font-family: "GoogleSans-Medium";
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

// ========== MATERIAL STYLES ========== //
.mdc-checkbox__background {
  border-color: var(--primary-color) !important;
  border-radius: 6px !important;
  border-width: 1px !important;
  height: 20px !important;
  width: 20px !important;
}

.mdc-checkbox--disabled .mdc-checkbox__background {
  border-color: var(--mdc-checkbox-disabled-unselected-icon-color,
      color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent)) !important;
}

.mdc-checkbox__native-control:disabled:checked~.mdc-checkbox__background {
  border-color: rgba(0, 0, 0, 0) !important;
}

.mat-mdc-checkbox-touch-target {
  height: 20px !important;
  width: 20px !important;
}

.mdc-checkbox {
  width: 20px !important;
  height: 20px !important;
  flex: 0 0 20px !important;
}

.mat-mdc-tab-header-pagination-controls-enabled .mat-mdc-tab-header-pagination {
  background: #136a99;
  height: 46px;
  min-width: 46px;
}

.mat-mdc-tab-header-pagination-chevron {
  border-color: #fff !important;
  height: 10px !important;
  width: 10px !important;
}

.mat-mdc-tab-header-pagination-disabled .mat-mdc-tab-header-pagination-chevron {
  border-color: #888888 !important;
}

.mat-mdc-tab-header-pagination-disabled {
  background: #40414033 !important;
}

.mat-mdc-tab .mdc-tab__text-label {
  color: var(--primary-color) !important;
  font-family: "GoogleSans-Medium";
}

.mat-mdc-tab-label-container {
  border-bottom: none !important;
}

// MAT FORM FIELD //
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right: none !important;
}

.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mdc-notched-outline__trailing {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.mat-mdc-form-field-infix {
  min-height: var(--mat-form-field-container-height, 46px) !important;
  padding-top: var(--mat-form-field-container-vertical-padding,
      11px) !important;
  padding-bottom: var(--mat-form-field-container-vertical-padding,
      11px) !important;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: calc(var(--mat-form-field-container-height, 46px) / 2) !important;
}

// MAT SNACKBAR //
.success-snackbar .mat-mdc-snackbar-surface {
  background-color: var(--mdc-snackbar-container-color, green) !important;
}

.warning-snackbar .mat-mdc-snackbar-surface {
  background-color: var(--mdc-snackbar-container-color, yellow) !important;
}

.error-snackbar .mat-mdc-snackbar-surface {
  background-color: var(--mdc-snackbar-container-color, red) !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  font-weight: var(--mdc-snackbar-supporting-text-weight, 500) !important;
}

// MAT DIALOG //
.full-screen-dialog .mat-mdc-dialog-surface {
  border-radius: 0px;
  background-color: #fff;
}

// ========= SCROLLBAR ========== //
// .custom-scrollbar::-webkit-scrollbar {
//   visibility: hidden;
//   width: 12px;
//   border-radius: 6px;
// }

// .custom-scrollbar:hover::-webkit-scrollbar {
//   visibility: visible;
//   width: 12px;
//   border-radius: 6px;
//   background-color: #888;
// }

// ::-webkit-scrollbar {
//   width: 5px !important;
//   height: 5px !important;
// }

// ::-webkit-scrollbar-thumb {
//   background: #b6b6b6;
//   border-radius: 15px !important;
// }

// ::-webkit-scrollbar-track {
//   background: #fff !important;
// }